#root {
  height: calc(100vh - 4rem);
}
.showText {
  color: black !important;
}
.containerClass {
  height: calc(100vh - 6rem);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.containerClass::-webkit-scrollbar {
  display: none;
}
.hide {
  display: none;
}
.positionFooter {
  position: fixed;
  background-color: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
}
.minh {
  min-height: 3rem;
}
.AbsRight,
.AbsLeft {
  position: fixed;
  top: 50vh;
  right: 1rem;
  width: 5rem;
}
.AbsLeft {
  left: 1rem;
}
